.section.improve-skills {
    .col.img {
        img {
            width: 100%;
        }
    }
    .col.skills {
        padding-left: 1em;
        .skill-item {
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            color: var(--text-light);
            padding: .1em 0 .1em .5em;
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.3s) slideInRight forwards;
            &:nth-child(1) {
                animation-duration: .1s;
            }
            &:nth-child(2) {
                animation-duration: .2s;
            }
            &:nth-child(3) {
                animation-duration: .3s;
            }
            &:nth-child(4) {
                animation-duration: .4s;
            }
            &:nth-child(5) {
                animation-duration: .5s;
            }
            &:nth-child(6) {
                animation-duration: .6s;
            }
        }
        .btn {
            margin-top: .75em;
        }
    }
}